:root {
	--max-width: 768px;

	--font-size-12: 0.75rem; /* 12 */
	--font-size-14: 0.875rem;  /* 14 */
	--font-size-16: 1rem; /* 16 */
	--font-size-20: 1.25rem; /* 20 */
	--font-size-32: 2rem; /* 32 */

	--color-bg: #E3E9FF;
	--color-primary: #AF7EEB;
	--color-primary-dark: #7b56ad;
	--color-primary-light: #C8BAFF;
	--color-accent: #fd8f52;
	--color-accent-light: #efbb9e;
	--color-grey-dark: #8C8F9E;
	--color-grey-light: #DBDEE3;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./fonts/PretendardVariable.woff2') format('woff2-variations');
}